body {

}

.add-remove {
    width: 50px;
}

.tracker-entry {
    display: flex;

}

#tracker_headers {
    background-color: var(--color-2);
    border-radius: 7px;
    padding: 5px;
    display: flex;
}

#tracker_entries {
    display: flex;
    flex-direction: column;
}



/* Tracker columns */

.tracker_add-remove {
    min-width: 50px;
}

.tracker_init {
    min-width: 50px;
}
.tracker_name {
    min-width: 150px;
}
.tracker_hp {
    min-width: 100px;
}
.tracker_skills {

}

.tracker_hp-container {
    min-width: 100px;
    display: flex;
}

.hp_btn {
    height: 30px;
    width: 30px;
}

.add-hp-btn {
    background-color: var(--color-7);
    border-color: var(--color-7);
}

.sub-hp-btn {
    background-color: var(--color-6);
    border-color: var(--color-6);
}

.tracker_hp_text {
    margin: 5px;
}

.tracker__section {
    background-color: var(--color-3);
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
}

