@page
@model IndexModel
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Encounter Tracker";
}


<!--TRACKER-->
<div class="text-center">
    <h1 class="display-4">Encounter Tracker</h1>
</div>
<div id="tracker">
	<div class="" id="tracker_headers">
		<div class="tracker_add-remove">A/R</div>
		<div class="tracker_init">Init</div>
		<div class="tracker_name">Name</div>
		<div class="tracker_hp">Hit Points</div>
		<div class="tracker_skills">Skills</div>
	</div>
	<div id="tracker_entries"></div>

	<br />

<!--SEARCH-->
</div>
<div id="search-section">
	<div id="search-field">
		<label for="search-entry">Search</label>
		<input type="text" id="search-entry" name="search-entry" placeholder="NPC name - TODO" />
	</div>
	<div id="search-result">
		@{
			foreach (var npc in @Model.NPCs!)
			{
				string onClickFunction = "GetNpcAndAddToTracker(" + npc.Id + ")";
				<div class="row">
					<div class="col-1">
						<button type="button" onclick=@onClickFunction class="btn-sm btn-primary">Add</button>
					</div>
					<div class="col">@npc.Name</div>
				</div>
			}
		}
	</div>
</div>


<link rel="stylesheet" href="~/css/Index.css"/>
<link rel="stylesheet" href="~/css/_HealthAndArmorPartial.css" />

@section scripts{
	<script src="/js/Index.js"></script>
}