@page
@model IndexModel
@{
    ViewData["Title"] = "Encounter Tracker";
}

<div class="text-center">
    <h1 class="display-4">Encounter Tracker</h1>
</div>
<a class="nav-link text-dark" asp-area="" asp-page="/ModelBinding">Model Binding</a>

